html {
    margin: auto;
}

@function getValInRange($min, $max, $t-param) {
    $val: (($t-param - 0) / (1 - 0) * ($max - $min)) + $min;
    @return $val;
}
@function getNormalizedVal($currentVal, $min, $max) {
    $val: ($currentVal - $min) / ($max - $min);
    @return $val;
}

$min-screen-size: 1700;
$max-screen-size: 3200;
$i: $max-screen-size;
$minWidth: 60;
$maxWidth: 80;

$max-handle-width: 12000px;

/* center page */
@media only screen and (max-width: $max-handle-width) and (min-width: #{$max-screen-size}px) {
    html {
        max-width: 50%;
    }

    #searchform {
        width: 50vw;
    }
}

@while $i >= $min-screen-size {
    @if ($i <= 2000) {
        $i-T-Param: getNormalizedVal($i, $min-screen-size, 2000);
        $width-percentage: getValInRange(80, 80, $i-T-Param);
        @media only screen and (max-width: #{$i}px) and (min-width: $i - 100px) {
            html {
                max-width: $width-percentage * 1%;
            }

            #searchform {
                width: $width-percentage * 1vw;
            }
        }
    } @else if $i <= $max-screen-size {
        $i-T-Param: getNormalizedVal($i, 2000, $max-screen-size);

        $width-percentage: getValInRange(65, 50, $i-T-Param);
        @media only screen and (max-width: #{$i}px) and (min-width: $i - 100px) {
            html {
                max-width: $width-percentage * 1%;
            }

            #searchform {
                width: $width-percentage * 1vw;
            }
        }
    }

    $i: $i - 100;
}

@media only screen and (max-width: $max-handle-width) and (min-width: #{$min-screen-size}px) {
    #cnt {
        width: 100%;
        margin: auto;
    }
    .mw {
        width: 100%;
        max-width: unset !important;
        margin: auto;
    }
    #bcenter {
        width: 0px;
    }

    div#rcnt {
        width: 100%;
        display: grid;
        grid-template-columns: auto 55% 0 35% auto;
    }

    div#rhs {
        margin: unset !important;
        width: 100%;
    }

    #center_col {
        width: 100%;
        margin: unset !important;
    }

    .kno-ftr {
        margin-right: 0px;
    }
}
