html {
  margin: auto; }

/* center page */
@media only screen and (max-width: 4000px) and (min-width: 3900px) {
  html {
    max-width: 60%; }
  #searchform {
    width: 60vw; } }

@media only screen and (max-width: 3900px) and (min-width: 3800px) {
  html {
    max-width: 59%; }
  #searchform {
    width: 59vw; } }

@media only screen and (max-width: 3800px) and (min-width: 3700px) {
  html {
    max-width: 58%; }
  #searchform {
    width: 58vw; } }

@media only screen and (max-width: 3700px) and (min-width: 3600px) {
  html {
    max-width: 57%; }
  #searchform {
    width: 57vw; } }

@media only screen and (max-width: 3600px) and (min-width: 3500px) {
  html {
    max-width: 56%; }
  #searchform {
    width: 56vw; } }

@media only screen and (max-width: 3500px) and (min-width: 3400px) {
  html {
    max-width: 55%; }
  #searchform {
    width: 55vw; } }

@media only screen and (max-width: 3400px) and (min-width: 3300px) {
  html {
    max-width: 54%; }
  #searchform {
    width: 54vw; } }

@media only screen and (max-width: 3300px) and (min-width: 3200px) {
  html {
    max-width: 53%; }
  #searchform {
    width: 53vw; } }

@media only screen and (max-width: 3200px) and (min-width: 3100px) {
  html {
    max-width: 52%; }
  #searchform {
    width: 52vw; } }

@media only screen and (max-width: 3100px) and (min-width: 3000px) {
  html {
    max-width: 51%; }
  #searchform {
    width: 51vw; } }

@media only screen and (max-width: 3000px) and (min-width: 2900px) {
  html {
    max-width: 50%; }
  #searchform {
    width: 50vw; } }

@media only screen and (max-width: 2900px) and (min-width: 2800px) {
  html {
    max-width: 49%; }
  #searchform {
    width: 49vw; } }

@media only screen and (max-width: 2800px) and (min-width: 2700px) {
  html {
    max-width: 69.56522%; }
  #searchform {
    width: 69.56522vw; } }

@media only screen and (max-width: 2700px) and (min-width: 2600px) {
  html {
    max-width: 68.69565%; }
  #searchform {
    width: 68.69565vw; } }

@media only screen and (max-width: 2600px) and (min-width: 2500px) {
  html {
    max-width: 67.82609%; }
  #searchform {
    width: 67.82609vw; } }

@media only screen and (max-width: 2500px) and (min-width: 2400px) {
  html {
    max-width: 66.95652%; }
  #searchform {
    width: 66.95652vw; } }

@media only screen and (max-width: 2400px) and (min-width: 2300px) {
  html {
    max-width: 66.08696%; }
  #searchform {
    width: 66.08696vw; } }

@media only screen and (max-width: 2300px) and (min-width: 2200px) {
  html {
    max-width: 65.21739%; }
  #searchform {
    width: 65.21739vw; } }

@media only screen and (max-width: 2200px) and (min-width: 2100px) {
  html {
    max-width: 64.34783%; }
  #searchform {
    width: 64.34783vw; } }

@media only screen and (max-width: 2100px) and (min-width: 2000px) {
  html {
    max-width: 63.47826%; }
  #searchform {
    width: 63.47826vw; } }

@media only screen and (max-width: 2000px) and (min-width: 1900px) {
  html {
    max-width: 82.34783%; }
  #searchform {
    width: 82.34783vw; } }

@media only screen and (max-width: 1900px) and (min-width: 1800px) {
  html {
    max-width: 81.56522%; }
  #searchform {
    width: 81.56522vw; } }

@media only screen and (max-width: 1800px) and (min-width: 1700px) {
  html {
    max-width: 80.78261%; }
  #searchform {
    width: 80.78261vw; } }

@media only screen and (max-width: 1700px) and (min-width: 1600px) {
  html {
    max-width: 80%; }
  #searchform {
    width: 80vw; } }

#cnt {
  width: 100%;
  margin: auto; }

.mw {
  width: 100%;
  max-width: unset !important;
  margin: auto; }

#bcenter {
  width: 0px; }

div#rcnt {
  width: 100%;
  display: grid;
  grid-template-columns: auto 55% 0 auto; }

div#rhs {
  margin: unset !important;
  width: 100%; }

#center_col {
  width: 100%;
  margin: unset !important; }

.kno-ftr {
  margin-right: 0px; }
